@keyframes pika{
  0% {
    opacity: 1;
  }
  20%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

@keyframes zuba1{
  0% {
    transform: translate3d(0,0,0);
  }
  50%{
    transform: translate3d(-70px,46px,0);
  }
  70% {
    transform: translate3d(-70px,46px,0);
  }
  100% {
    transform: translate3d(-655px,437px,0);
  }
}
@keyframes zuba2{
  50% {
    transform: translate3d(0,0,0);
  }
  80% {
    // transform: translate3d(110%,-110%,0);
     transform: translate3d(0%,-0%,0);
  }
  // 100% {
  //   transform: translate3d(110%,-110%,0);
  // }
}