/*
#overview
カラーコード

*/

/* 
#colors

@color-default #333
@color-border #999
@color-link #0066CC
@color-facebook #3C599F
@color-twitter #2CA7E0
@color-gplus #dd4b38
@color-hatebu #00A4DE
@color-line #1DCD00
@color-category-a red
@color-category-b bule
@color-category-c yellow
*/

$color-default: #000;
$color-light-black: #484955;
$color-dark-black: #070002;
$color-grey: #f6f6f6;
$color-grey2: #fafafa;

$color-clear: rgba(#fff, 0.8);
$color_border: #ddd;
$color_hide: #bbb;
$color-link: #0066CC;
$color_current: #e1ba1f;
$color_error: #fcbfb8;
$color_error2: #b03c2e;

$color-facebook: #3C599F;
$color-twitter: #2CA7E0;
$color-gplus: #dd4b38;
$color-hatebu: #00A4DE;
$color-line: #1DCD00;

$color_a: #5da9e9;
$color_b: #92df46;
$color_c: #ee3821;
$color_d: $color-light-black;
$color_e: #ecc114;
$color_f: #87d63a;
$color_g: #eec521;
$color_h: #f0b501;
$color_i: #76c22d;
$color_j: #ba4027;
$color_k: #da4a29;