/*
#overview
load

*/

.load {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background: #fff;
    &_text {
        width: 100%;
        text-align: center;
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        letter-spacing: 2px;
        font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
}