.slash {
    overflow: hidden;
    padding-top: 50px;
    &.is_hidden {
        opacity: 0;
    }
    .slash_inner {
        width: 655px;
        height: 437px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
    .slash_img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        &.slash_wrap {
            z-index: 3;
        }
        &.up {
            z-index: 2;
        }
        &.down {
            z-index: 1;
        }
    }
}